{
  "presets": ["next/babel", "@babel/typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "styles": "./styles",
          "layouts": "./layouts"
        }
      }
    ]
  ]
}
